{% extends "base_generic.html" %}
{% load static %}


        {% block content %}

        <div class="row cuerpo2">
            <style>
            .cuerpo2
            {
             margin-top:10px;
             margin-bottom: 10px;
             background-image: url('/static/img/images\ 24.jpg');
             opacity: 90%;

            }
            </style>
         
                  <div class="col-6">
                    <div class="titulo">
                      <h1>¿Quieres comprar un antojo?</h1>
                      
                  </div>
                  </div>
                  <div class="col-4">
                    <br>
                    <h1>"Regístrate Aquí"</h1>
                    <h5>Sé parte de nuestra comunidad</h5><br> 
                                 
                                              {% load crispy_forms_tags %}
                                             <form name="datos" action="2" onsubmit="return validarFormulario()">
                                                        <br>
                                                        <br>
                                                       {{ form | crispy }}
                                                
                                                       
                                                    <input type="submit" class="btn-submit" value="Enviar">
                                               </form> 
                                                      <br>
                                                      <br>
                    
        
                                              <script>
                                                function inicio()
                                               {
                                                 document.getElementById("inic").style.display="block";
                                               }
      
                                                 function cerrar()
                                               {
                                                 document.getElementById("inic").style.display="none";
                                               }
                                               </script>
                  </div>
           
        </div> 
        
        {% endblock %}
                    
      
     <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>Acerca de</h6>
              <p class="text-justify">antojo.com es un grupo de personas emprendedoras que quieren marcar una diferencia y vender sus productos caseros con un sello único y de calidad, dentro de una comunidad confiable y cercana.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Links rápidos</h6>
              <ul class="footer-links">
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contáctanos</a></li>
                <li><a href="">Sé parte de nosotros</a></li>
                <li><a href="">Términos y condiciones</a></li>
                <li><a href="">Mapa del  sitio</a></li>
               
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Síguenos en</h6>
              <ul class="footer-links">
                <li><a class="facebook" href="https://www.facebook.com/antojouhlala"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                <li><a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"></i> Twitter</a></li>
               
                <li><a class="youtube" href="https://www.youtube.com"><i class="fa fa-youtube"></i> Youtube</a></li>
              
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
           <a href="#">Antojo</a>.
              </p>
            </div>
  
          
          </div>
        </div>
    </footer>   
    </body>
</html>




