{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}

<p>Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo..</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>
      Su cuenta no tiene acceso a esta página. Para continuar, inicie sesión con una cuenta que tenga acceso.<p>
    {% else %}
    <p>Inicie sesión para ver esta página.<p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="Iniciar Sesión" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}" class="row h-100 justify-content-center align-items-center">¿Olvidaste la contraseña?</a></p>

{% endblock %}