
/*Bloque 1-Datos registro*/

.c1
{
    padding-top:15px;
    background-color:rgb(248, 226, 177);
    width: 470px;
    height: 500px;
    margin-left:20px;
    border-radius: 5px;
    text-align: center;
}





.c1 .datagrid
{
    
  height: 360px;

}


.c1 .btn-primary
{
    margin-top: 15px;
}

.row-mini1
{
  margin-left: 10px;
  width: 140px;
  height: 30px;
  display: inline-block;
}
.row-mini2
{
  margin-left: 5px;
  width: 280px;
  height: 30px;
  display: inline-block;
}

/*Bloque 2-Productos en venta*/
.busqueda
{
    display: inline;
}

.form-control
{
    width: 300px;
    margin: auto;
    border-radius: 20px;
}

.c2
{
    padding-top:15px;
    background-color: rgb(155, 221, 180);
    width: 470px;
    height: 500px;
    margin-left:10px;
    border-radius: 5px;
    text-align: center;
}

.row-mini3
{
  width: 300px;
  height: 30px;
  display: inline-block;
}

.row-mini4
{
  width: 80px;
  height: 30px;
  display: inline-block;
}

.row-mini5
{
  width: 120px;
  height: 50px;
  display: inline-block;
}

.botones .btn-primary
{
    margin-top: 15px;
}

/*Bloque 3-Lista Pedidos*/
.c3
{
    padding-top:15px;
    background-color: rgb(255, 180, 184);
    width: 470px;
    height: 500px;
    border-radius: 5px;
    text-align: center;
}

.row-mini6
{
  width: 200px;
  height: 50px;
  display: inline-block;
}

.c3 .datagrid
{
    height: 360px;
}

/*Popup*/

.container-all{
  width: 120%;
  height: 600px;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: all 600ms;
  text-align: left;
  z-index: 100;
}

.container-all:target{
  background: rgba(0,0,0,0.8);
  visibility: visible;
  opacity: 3;
}

.container-all:target .popup{
  top: 50%;
  left: 50%;
  transform: rotate(0deg) translate(-50%, -50%);
  visibility: visible;
  height: auto;
}

.popup{
  width: 100%;
  max-width: 800px;
  height: 600px;
  position: fixed;
  display: flex;
  background: rgb(255, 255, 255);
  visibility:hidden;
  top: -50%;
  left: -50%;
  transform: rotate(90deg) translate(-150%, 230%);
  transition: all 600ms;
  text-align: center;
}

.contenedor-inputs
{
margin-left:15px;
text-align: left;
}
.container-text h1{
  font-size: 40px;
  text-align: center 
}

.contenedor-inputs h5{
  font-size: 25px;
  margin-bottom: 20px;
  
}

.popup .btn-cerrar-popup {
margin-right: 10px;
display: block;
text-align: right;
transition: .3s ease all;
color: #7c7c7c;
}

.popup .btn-cerrar-popup:hover {
color: #000;
  text-decoration: none;
}

.popup form .contenedor-inputs input {
font-size: 15px;
border: 1px solid #BBBBBB;
  
}

.popup .btn-primary
{
    background: #FD6069;
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 4px;
    margin-bottom:20px;
    border-radius: 20px;
    font-family: sans-serif;
    cursor: pointer;
}

.img1{
  width: 40%;
  background-image: url(img/images19.jpg);
  background-position: center;
  background-size: cover;

}
  
