

/* Inicio sesión*/

.inicio-sesion
{
  background-color:rgb(231, 224, 210);
  border-style: solid;
  border: cornflowerblue;
  width: 30%;
  color:black;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  border-radius: 3%;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  min-height: 250px;
  position: fixed;
  left:34%;
  top:35%;
  display: none;
  z-index: 100;
}

.btn-cerrar-popup 
{
	display: block;
	text-align: right;
	transition: .3s ease all;
  color: #BBBBBB;
  margin-right: 10px;
  margin-top:5px; 
}

#cerrar
{
position: absolute;
right: 4px;
top: 1px;
}

.pass
{
  margin-left: -30px;
}

.logoini
{
  height:150px;
  width: auto;
  margin-bottom: 25px;
  margin-top:10px;
  margin-left:15px;
  margin-right: auto;
}

  .btn-submit
{
    background: #FD6069;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    font-family: sans-serif;
    cursor: pointer;
}


/*cabecera*/

.inicio-sesion h5
{
  font-size: 22px;
  margin-bottom: 30px;
}

.logo
{
    margin-left: 60px;
    height: 50%;
}

.form-control
{
    width: 580px;
}

.combo
{
    width: 220px;
    height: 39px;
    margin-right: 30px;
    border-radius: 5px;
}

.form-group2
{
  margin-top: 127px;
}

.form-group1
{
    margin-top: 30px;
    margin-left: 26px;
}

.cabecera
{
    background-image: url(img/Panadería1.jpg);
    height: 230px;  
    color: white;
    padding-top: 30px;
}

.btn-primary
{
    background: #FD6069;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
    font-family: sans-serif;
    cursor: pointer;
}

.btn-primary a
{
    color: white;
}

.btn-register
{
    background: #99D45D;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
    font-family: sans-serif;
    cursor: pointer;
}

.user
{
    width:12%;
    margin-bottom: 10px;
}

.col-2{
    text-align: center;
}

.col-5 h1
{
    margin-top:20px;
    margin-inline-start: 30px;
}
/*Titulos intermedios*/

.cuerpo1
{
    margin-top:10px;
    padding-top: 20px;
    padding-left: 30px;
    height: 60px;
}

/*Linea separadora*/

.cuerpo1
{
    margin-top:10px;
    padding-top: 20px;
    padding-left: 30px;
    height: 30px;
}

/*Bloques general*/
.titulos-tarjetas
{
    font-family: 'Trebuchet MS';
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

.titulos-tarjetas h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
}

.titulos-tarjetas a
{
  color:yellow
}

.titulos-tarjetas h3
{
  margin-top:40px;
}

.col-2
{
    padding-top: 15px;
    border-radius: 10px;
}

.cuerpo2
{
  margin:auto;
}

/*Bloque 1-Datos registro*/

.c1
{
    padding-top:15px;
    background-image: url(img/cuadrado1.jpg);
    width: 600px;
    height: 400px;
    border-radius: 5px;
    text-align: center;
    margin-left:100px;
}

.c1 .datagrid
{
    height: 360px;
}

.c1 .btn-primary
{
    margin-top: 15px;
}

.row-mini1
{
  margin-left: 10px;
  width: 140px;
  height: 30px;
  display: inline-block;
}

.row-mini2
{
  margin-left: 5px;
  width: 280px;
  height: 30px;
  display: inline-block;
}

/*Bloque 2*/
.c2
{
    padding-top:15px;
    background-image: url(img/cuadrado2.jpg);
    width: 600px;
    height: 400px;
    border-radius: 5px;
    text-align: center;
}

/*Popup y footer*/
.btn-open-popup {
    background: #5E7DE3;
    border: none;
    color: white;
    padding: 10px 25px;
	text-align: center;
    font-size: 16px;
	margin: 4px 2px;
	border-radius: 50px;
	font-family: sans-serif;
	cursor: pointer;
}
.btn-open-popup:hover{
    color:powderblue;
    text-decoration: none;
}
.container-all{
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
    text-align: center;
}

.container-all:target{
    background: rgba(0,0,0,0.8);
    visibility: visible;
    opacity: 3;
}

.container-all:target .popup{
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
    height: auto;
}

.popup{
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: fixed;
    display: flex;
    background: white;
    visibility:hidden;
    top: -50%;
    left: -50%;
    transform: rotate(90deg) translate(-150%, 230%);
    transition: all 600ms;
}

.img{
    width: 40%;
    background-image: url(img/images16.jpeg);
    background-position: center;
    background-size: cover;
}
.container-text{
    padding: 60px;
}

.container-text h1{
    font-size: 40px;
    text-align: center 
}

.container-text h5{
    font-size: 25px;
    text-align: center
    
}

.btn-close-popup{
    width: 20px;
    height: 50px;
    position: relative;
    right: -20px;
    top: -20px;
    padding: 20px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 10px;
}

.popup .btn-cerrar-popup {
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}


.popup .btn-cerrar-popup:hover {
	color: #000;
    text-decoration: none;
}



.popup form .contenedor-inputs input {
	font-size: 15px;
	border: 1px solid #BBBBBB;
    
}



.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;  
}


popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}


.img1{
    width: 40%;
    background-image: url(img/images19.jpg);
    background-position: center;
    background-size: cover;
 
}

.overlay{
    background:black rgba(0,0,0,.3);
    position:fixed;
    top:0;
    left:0;
    right: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    
    
}

.container-all1 {
    text-align: center;
    padding: 10px;
}
.container-all1 h1{
    padding: 20px;
}

.contenido-img{
    max-width: 100%;
    height: auto;
}

.contenido-img1{
    width: 30%;
}

.contenido-img2{
    width: 30%;
}
.btn-open-popup1{
    background: #fd6069;
    border: none;
    color: white;
    padding: 15px 30px;
    text-decoration-line: none;
	text-align: center;
    font-size: 25px;
	margin: 0px 2px;
	border-radius: 15px;
	font-family: sans-serif;
	cursor: pointer;
}
.btn-open-popup1:hover {
	color:#AEDFDB;
    text-decoration: none;
}

.btn-open-popup2{
    background: #fd6069;
    border: none;
    color: white;
    padding: 15px 30px;
    text-decoration-line: none;
	text-align: center;
    font-size: 25px;
	margin: 0px 2px;
	border-radius: 15px;
	font-family: sans-serif;
	cursor: pointer;
   
}
.btn-open-popup2:hover {
	color:#AEDFDB;
    text-decoration: none;
}

.site-footer
{
    background-color: #26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
    position:relative;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }
  

