
/* Inicio sesión*/

/*Bloques general*/
.titulos-tarjetas
{
    font-family: 'Trebuchet MS';
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

.titulos-tarjetas h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
}

.titulos-tarjetas a
{
  color:yellow
}

.titulos-tarjetas h3
{
  margin-top:40px;
}
/*
.col-2
{
    padding-top: 15px;
    border-radius: 10px;
}

.cuerpo2
{
  margin:auto;
}
/*
/*Bloque 1-Datos registro*/

.c1
{
    padding-top:15px;
    background-image: url(img/cuadrado1.jpg);
    width: 600px;
    height: 400px;
    border-radius: 5px;
    text-align: center;
    margin-left:100px;
}

.c1 .datagrid
{
    height: 360px;
}

.c1 .btn-primary
{
    margin-top: 15px;
}

.row-mini1
{
  margin-left: 10px;
  width: 140px;
  height: 30px;
  display: inline-block;
}

.row-mini2
{
  margin-left: 5px;
  width: 280px;
  height: 30px;
  display: inline-block;
}

/*Bloque 2*/
.c2
{
    padding-top:15px;
    background-image: url(img/cuadrado2.jpg);
    width: 600px;
    height: 400px;
    border-radius: 5px;
    text-align: center;
}

