<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Mi sesion vendedor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"> 
        <link href="estilo5.css" rel="stylesheet">
        <script src="js/jquery-3.5.1.min.js"></script>
        <script src="js/funciones1.js"></script>
        <script src="https://kit.fontawesome.com/5bca04f22b.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <div class="row cabecera">
            <div class="col-2">
                <img class="logo" src="img/logoantojo.png" alt="logo">
            </div>
            <div class="col-8">
                <h1>Lo que buscas ante tus ojos...</h1>
                <h3>Sitio de Vendedor</h3>
            </div>
            <div class="col-2">
                <a href="javascript:inicio()"><img class="user" src="img/user.png" alt="icono-usuario"></a>
                <h5>Bienvenid@</h5> 
            </div>
        </div> 

        <div class="row cuerpo1">
            
        </div>

        <div class="row cuerpo2">
            <div class="col-4">
                <div class=c1>
                    <div class="titulos-tarjetas">
                        <h4>Mis datos de registro</h4>
                    </div>
                    <div>
                        <div class="datagrid">
                            <p>Aqui va un datagrid</p>
                        </div>
                        <div class="row-mini5">
                            <button type="submit" class="btn btn-primary"><a href="Productos.html">Editar</a></button>
                        </div>
                    </div>
                </div>         
            </div>
            <div class="col-4">
                <div class="c2">
                    <div class="titulos-tarjetas">
                        <h4>Listado de Productos</h4>
                    </div>
                    <div class="busqueda">
                        <div class="row-mini3">
                            <input type="text" class="form-control" id="busqueda">
                        </div>
                        <div class="row-mini4">
                            <button type="submit" class="btn btn-primary"><a href="Productos.html">Buscar</a></button>
                        </div>
                    </div>
                    <div class="datagrid">
                        <p>Aqui va un datagrid</p>
                    </div>
                    <div class="botones">
                        <div class="row-mini5">
                            <button type="submit" class="btn btn-primary"><a href="Productos.html">Nuevo</a></button>
                        </div>
                        <div class="row-mini5">
                            <button type="submit" class="btn btn-primary"><a href="Productos.html">Editar</a></button>
                        </div>
                        <div class="row-mini5">
                            <button type="submit" class="btn btn-primary"><a href="Productos.html">Eliminar</a></button>
                        </div>
                    </div>
                </div>         
            </div>

            <div class="col-4">
                <div class="c3">
                    <div class="titulos-tarjetas">
                        <h4>Listado de Pedidos</h4>
                    </div>
                    <div>
                        <div class="datagrid">
                            <p>Aqui va un datagrid</p>
                        </div>
                        <div class="botones">
                            <div class="row-mini6">
                                <button type="submit" class="btn btn-primary"><a href="Productos.html">Ordenar</a></button>
                            </div>
                            <div class="row-mini6">
                                <button type="submit" class="btn btn-primary"><a href="Productos.html">Ver Historial</a></button>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>

        <div class="row cuerpo1">
           
        </div>

        <footer class="site-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h6>Acerca de</h6>
                <p class="text-justify">antojo.com es un grupo de personas emprendedoras que quieren marcar una diferencia y vender sus productos caseros con un sello único y de calidad, dentro de una comunidad confiable y cercana.</p>
              </div>
    
              <div class="col-xs-6 col-md-3">
                <h6>Links rápidos</h6>
                <ul class="footer-links">
                  <li><a href="">Nosotros</a></li>
                  <li><a href="">Contáctanos</a></li>
                  <li><a href="">Sé parte de nosotros</a></li>
                  <li><a href="">Términos y condiciones</a></li>
                  <li><a href="">Mapa del  sitio</a></li>
                 
                </ul>
              </div>
    
              <div class="col-xs-6 col-md-3">
                <h6>Síguenos en</h6>
                <ul class="footer-links">
                  <li><a class="facebook" href="https://www.facebook.com/antojouhlala"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                  <li><a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"></i> Twitter</a></li>
                 
                  <li><a class="youtube" href="https://www.youtube.com"><i class="fa fa-youtube"></i> Youtube</a></li>
                
                </ul>
              </div>
            </div>
            <hr>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
             <a href="#">Antojo</a>.
                </p>
              </div>
    
    
            </div>
          </div>
    </footer>
    </body>
</html>