{% extends "base_generic.html" %}

{% block content %}
  {% load static %}
  {% load crispy_forms_tags %}
  {% load humanize %}

    <head>
        <title>Mi sesion vendedor</title>
       
        <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"> 
        <link href="{% static 'css/estilo6.css' %}"rel="stylesheet">
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/funciones1.js' %}"></script>
        <script src="https://kit.fontawesome.com/5bca04f22b.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <!--<div class="row cabecera">
            <div class="col-2">
                <img class="logo" src="{% static 'img/logoantojo.png' %}" alt="logo">
            </div>
            <div class="col-8">
                <h1>Lo que buscas ante tus ojos...</h1>
                <h3>Sitio de Vendedor</h3>
            </div>
            <div class="col-2">
                <a href="javascript:inicio()"><img class="user" src="{% static 'img/user.png' %}" alt="icono-usuario"></a>
                <h5>Bienvenid@</h5> 
            </div>
        </div> -->

        <div class="row cuerpo1">
            
        </div>

        <div class="row cuerpo2">
            <div class="col-4">
                <div class=c1>
                    <div class="titulos-tarjetas">
                        <h4>Mis datos de registro</h4>
                        
                    </div>
                    <div>
                        <div class="datagrid">
                            <table class="table table-striped table-hover table-responsive-sm">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th> 
                                    <th>Telefono </th> 
                                    <th>Dirección</th>  
                                    <th>Comuna</th>    
                                    <th>Email</th>   
                                    <th>Usuario</th>           
                                </tr>
    
                                {% for p in vendedores %}
                                <tr>
                                    <td>{{ p.nombre_vendedor | title }}</td>
                                    <td>{{ p.apellido_vendedor | title }}</td>
                                    <td>{{ p.fono_vendedor | apnumber }}</td>
                                    <td>{{ p.dir_vendedor  | title }}</td>
                                    <td>{{ p.com_vendedor | title }}</td>
                                    <td>{{ p.email_vendedor | title }}</td>
                                    <td>{{ p.usuario_vendedor | title }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="row-mini5">
                            <button type="submit" class="btn btn-primary"><a href="Productos.html">Editar</a></button>
                        </div>
                    </div>
                </div>         
            </div>
            <div class="col-4">
                <div class="c2">
                    <div class="titulos-tarjetas">
                        <h4>Listado de Productos</h4>
                    </div>
                    <div class="busqueda">
                        <div class="row-mini3">
                            <input type="text" class="form-control" id="busqueda">
                        </div>
                        <div class="row-mini4">
                            <button type="submit" class="btn btn-primary"><a href="Productos.html">Buscar</a></button>
                        </div>
                    </div>
                    <div class="datagrid">
                        <table class="table table-striped table-hover table-responsive-sm">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Precio</th> 
                                <th>Descripción </th> 
                                <th>Unidad Medida</th>  
                                <th>Categoría</th>
                                <th>Vendedor</th>                
                            </tr>
                           

                            {% for i in productos %}
                            <tr>
                                <td>{{ i.id_producto | title }}</td>
                                <td>{{ i.nombre_producto | title }}</td>
                                <td>{{ i.precio_producto | intcomma }}</td>
                                <td>{{ i.descripcion_producto  | title }}</td>
                                <td>{{ i.unidad_medida | title }}</td>
                                <td>{{ i.categoria | title }}</td>
                                <td>{{ i.vendedor | title }}</td>
                                
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="botones">
                        <div class="row-mini5">
                            <a href="#button" class="btn btn-primary">Añadir</a>
                        </div>
                        <div class="row-mini5">
                            <button type="submit" class="btn btn-primary"><a href="Productos.html">Editar</a></button>
                        </div>
                        <div class="row-mini5">
                            <button type="submit" class="btn btn-primary"><a href="Productos.html">Eliminar</a></button>
                        </div>
                    </div>
                </div>         
            </div>

            <div class="col-4">
                <div class="c3">
                    <div class="titulos-tarjetas">
                        <h4>Listado de Pedidos</h4>
                    </div>
                    <div>
                        <div class="datagrid">
                            <table class="table table-striped table-hover table-responsive-sm">
                                <tr>
                                    <th>ID</th>
                                    <th>Cantidad Producto</th>
                                    <th>Monto Total</th> 
                                    <th>Hora </th> 
                                    <th>comprador</th>  
                                    <th>Producto</th>
                                    

                                </tr>
                               
    
                                {% for j in productos %}
                                <tr>
                                    <td>{{ j.id_compra | title }}</td>
                                    <td>{{ j.cant_prod | title }}</td>
                                    <td>{{ j.monto_total | intcomma }}</td>
                                    <td>{{ j.hora_compra  | naturaltime }}</td>
                                    <td>{{ j.comprador | title }}</td>
                                    <td>{{ j.producto | title }}</td>
                                    
                                </tr>
                                {% endfor %}
                            </table>
                         
                        </div>
                        <div class="botones">
                            <div class="row-mini6">
                                <button type="submit" class="btn btn-primary"><a href="Productos.html">Ordenar</a></button>
                            </div>
                            <div class="row-mini6">
                                <button type="submit" class="btn btn-primary"><a href="Productos.html">Ver Historial</a></button>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
     
                    <div class="container-all" id="button">
                        <div class="popup">
                            <div class="img1"></div>
                                <div class="container-text">
                                    <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup">X</a>
                                    <form action="" method="post" enctype="multipart/form-data">
                                        <div class="contenedor-inputs">
                                            {% csrf_token %}
                                            {{ form | crispy }}
                                        
                                        </div>
                                        <input type="submit" class="btn btn-primary"  value="Guardar">  
                                    </form>  
                                    {{mensaje}}
                                </div> 
                            </div> 
                        </div>
                    </div>

        <div class="row cuerpo1">
            
        </div>

        {% endblock %}