

{% extends "base_generic.html" %}

{% block content %}
  {% load static %}

   <!--- <head>
        <title>Registro</title>
        
        <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"> 
        <link href="{% static 'css/estilo2.css' %}" rel="stylesheet">
        
    </head>
    <body>-->
      
        
        <div class="row cuerpo2">
          <div class="col-6">
            
              <div class=c1>
                
                  <div class="titulos-tarjetas" style="background-image: url({% static 'img/cuadrado1.jpg' %});">
                    
                      <h1>¿Quieres disfrutar de <br>deliciosos antojos?</h1>
                      <h3>Regístrate <b><a href="RegistrarseComprador.html">aquí</a></b> para comprar</h3>
                  </div>
              </div>         
          </div>

          <div class="col-6">
              <div class=c2>
                  <div class="titulos-tarjetas" style="background-image: url({% static 'img/cuadrado2.jpg' %});">
                      <h1>¿Quieres crear nuevos y <br>deliciosos antojos?</h1>
                      <h3>Regístrate <b><a href="RegistrarseVendedor.html">aquí</a></b> para vender</h3>
                  </div>
              </div>         
          </div>
        </div>
          
      

      <div class="row cuerpo1">
          
      </div>

        <div class="overlay">
          <div class="inicio-sesion" id="inic">
             
            <img class="logoini" src="img/logoantojo.png" alt="logo2">
            <h5><b>Inicia sesión</b></h5>
            <form action="1">
              <div class="contenedor-inputs">
                <p class="nom">Usuario:<input  type="text" name="nombre" size="18" required></p>
                <p class="pass">Contraseña: <input type="password" name="contraseña" size="18" required></p>
              </div>
              <input type="submit" class="btn-submit" value="Enviar">
            </form>
            <a href="javascript:cerrar()" id="cerrar" class="btn-cerrar-popup">X</a>
          </div>
        </div>

        <script>
          function inicio()
          {
            document.getElementById("inic").style.display="block";
          }
      
          function cerrar()
          {
          document.getElementById("inic").style.display="none";
          }
        </script>

        
        
        
                                         <script>
	                                       function validarFormulario(){

		                                      var txtNombre = document.getElementById('nombre').value;
                                              var txtApellido = document.getElementById('apellido').value;
                                              var txtDireccion = document.getElementById('direccion').value;
                                              var txtComuna = document.getElementById('comuna').value;
                                              var txtCorreo = document.getElementById('correo').value; 
                                             
        
                                            
		                                  if(txtNombre == null || txtNombre.length == 0 || /^\s+$/.test(txtNombre)){
			                                  alert('ERROR: El campo nombre no debe ir vacío o lleno de solamente espacios en blanco');
			                                  document.datos.nombre.focus();
			                                  return false;
                                           }
                                          if(txtApellido == null || txtApellido.length == 0 || /^\s+$/.test(txtApellido)){
			                                 alert('ERROR: El campo nombre no debe ir vacío o lleno de solamente espacios en blanco');
			                                 document.datos.apellido.focus();
			                                 return false;
		                                   }   
                                          if(txtDireccion == null || txtDireccion.length == 0 || /^\s+$/.test(txtDireccion)){
			                                 alert('ERROR: El campo nombre no debe ir vacío o lleno de solamente espacios en blanco');
			                                 document.datos.direccion.focus();
			                                 return false;
		                                   }  
                                          if(txtComuna == null || txtComuna.length == 0 || /^\s+$/.test(txtComuna)){
			                                 alert('ERROR: El campo nombre no debe ir vacío o lleno de solamente espacios en blanco');
			                                 document.datos.comuna.focus();
			                                 return false;
		                                   }  
                                          if(!(/\S+@\S+\.\S+/.test(txtCorreo))){
			                                 alert('ERROR: Debe escribir un correo válido');
			                                 document.datos.correo.value="";
			                                 document.datos.correo.focus();
			                                 return false;
		                                   }
		                                  
		                                  return true;
	                                   }
                                        
                                          </script>  
       
    {% endblock %}
  