{% extends "base_generic.html" %}
{% load static %}


        {% block content %}
        

       

        <div class="row cuerpo2">
            <style>
            .cuerpo2
            {
             margin-top:10px;
             margin-bottom: 10px;
             background-image: url('/static/img/images\ 24.jpg');
             opacity: 90%;

            }
            </style>
         
                  <div class="col-6">
                    <div class="titulo1">
                      <h1>¿Quieres comprar un antojo?</h1>
                      <br>
                      <br>
                      <div style="width: 440px; height: 280px; margin-left: 245px;" id="mapContainer"></div>
                  <script>
                    // Initialize the platform object:
                    var platform = new H.service.Platform({
                      'apikey': '{8RsuhkZitxbcyrnqSfSjlYUaW8tmaZBlWVkqyezPHas}'
                    });
              
                    // Obtain the default map types from the platform object
                    var maptypes = platform.createDefaultLayers();
              
                    // Instantiate (and display) a map object:
                    var map = new H.Map(
                      document.getElementById('mapContainer'),
                      maptypes.vector.normal.map,
                      {
                        zoom: 10,
                        center: { lng: 13.4, lat: 52.51 }
                      });
                  </script>
                  </div>
                  </div>

                 
                  <div class="col-4">
                    <div class="titulo2">
                    <br>
                    <h1>"Regístrate Aquí"</h1>
                    <h5>Sé parte de nuestra comunidad</h5><br> 
                                 
                    {% load crispy_forms_tags %}
                    <form action="" class="formulario_comprador" method="post">
                    
                              <br>
                              <br>
                              {% csrf_token %}

                             {{ form | crispy }}
                      
                          <button type="submit" id ="btnEnviar" class="button">Enviar</button>  
                    
                     </form> 
                               <br>
                            {{mensaje}}
                               <br>
                    <script>
                      function inicio()
                     {
                       document.getElementById("inic").style.display="block";
                     }

                       function cerrar()
                     {
                       document.getElementById("inic").style.display="none";
                     }
                     </script>
                     </div>
                  </div>
                
        </div> 
        
        {% endblock %}
       
    





